@model Models.ViewModels.NecesidadCreacion
@{
    ViewBag.Title = "CrearNecesidad";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<script src="~/Scripts/src/CrearNecesidad.js"></script>
<link type="text/css" href="~/Content/src/Necesidad.css" />

<div>

    <div class="row" id="crear-necesidad-container">
        <form class="" action="./AltaNecesidad">
            <div class="col s12 l8 push-l2">

                <h2>Crear Necesidad</h2>
                @{
                    if (ViewBag.miPerfilError != null)
                    {
                        <h3 class="msg-error">@ViewBag.miPerfilError</h3>
                        <div class="input-field col s12">
                            <button class="btn btn-primary col s3" href="/Home/MiPerfil">Ir a Mi Perfil</button>
                        </div>
                    }
                    else
                    {
                        @Html.Partial("_pvCamposCreacion", Model);
                    }
                }

            </div>
        </form>
    </div>
</div>
