@model Models.ViewModels.NecesidadModificacion
@{
    ViewBag.Title = "CrearNecesidad";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<script src="~/Scripts/src/CrearNecesidad.js"></script>
<link type="text/css" href="~/Content/src/Necesidad.css" />

<div>

    <div class="row" id="crear-necesidad-container">
        <form class="" action="./RealizarModificacion">
            <div class="col s12 l8 push-l2">

                <h2>Modificar Necesidad</h2>
                @{
                    if (ViewBag.errorMessage != null)
                    {
                        <h3 class="msg-error">@ViewBag.errorMessage</h3>
                    } else
                    {
                        @Html.Partial("_pvCamposModificacion", Model);
                    }
                }

            </div>
        </form>
    </div>
</div>
