<div class="col s12 m12 l12">
    <div class="card horizontal light-blue darken-3 white-text">
        <div class="card-image col s12 m2 l2">
            <img src="https://placehold.it/190x210" />
        </div>
        <div class="card-content col s12 m5 l5">
            <h6>TITULO DE PUBLICACION</h6>
            <div class="col s12 m6 l6">
                <p>Nombre de usuario</p>
                <p>Fecha de creacion</p>
            </div>
            <div class="col s12 m6 l6">
                <p>Donacion Monetaria</p>
                <p>Total donado: $5000 de $10000</p>
            </div>
            <div class="col s12 m12 l12">
                @Html.Partial("pv_ProgressBar")
            </div>
            <div class="col s12 m12 l12">
                <p>CBU: 00001 72000 4522 5688</p>
                <p>Telefono de contacto: 011 458 8022 7258</p>
            </div>
            <div class="card-action col s12 m12 l12">
                <a class="white-text" href="#">EDITAR</a>
            </div>
        </div>
        <div class="col s12 m5 l5">
            <h6>DESCRIPCION</h6>
            <div class="col s12 m12 l12">Lorem ipsum dolor sit amet consectetur adipiscing elit dui, volutpat iaculis tristique a fermentum posuere mus, velit tempus cubilia porttitor est augue quisque. Suspendisse bibendum et eleifend mus proin non lobortis nisi libero sodales semper, fermentum nunc elementum lacinia morbi himenaeos venenatis neque fringilla.</div>
        </div>
    </div>
</div>