
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<div class="row">
    <div class="col s12 m8">
        @Html.Partial("pv_PublicacionMasValorada")
    </div>
    <div class="col s12 m4">
        @Html.Partial("pv_Info")
    </div>
</div>