
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<h2>Inicio</h2>

<div>
    <span id="accion">

    </span>
    <span id="info">
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-content">
                        <p>
                            A traves de este sitio podra realizar 
                            donaciones para las personas 
                            afectadas con el virus COVID-19
                        </p>
                    </div>
                    <div class="card-image">
                        <img src="~/Images/Inicio/Info.png">
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>