
@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Home/_InicioLayout.cshtml";
}

<div class="row">
    <div class="col m12">
        <div class="row">
            <div class="titulo-inicio blue-text accent-3 center">
                <h5>PUBLICACIONES MAS VALORADAS</h5>
            </div>
            <hr />
        </div>
        <div class="row">
            @*@Html.Partial("pv_CardMasValorada",70.0M)
            @Html.Partial("pv_CardMasValorada",45.5M)
            @Html.Partial("pv_CardMasValorada",37.3M)
            @Html.Partial("pv_CardMasValorada",26.8M)
            @Html.Partial("pv_CardMasValorada",12.0M)*@
        </div>
    </div>
</div>