<form action="/Home/BuscarPorNombre" class="row">
    <div class="search-wrapper">
        <input id="search" name="nombre" placeholder="Buscar por nombre" class="col s10 m5">
        <i class="material-icons search-icon">search</i>
    </div>
</form>