@model decimal

<div class="col s12 m6 l6">
    <div class="card horizontal light-blue darken-3 white-text">
        <div class="card-stacked">
            <div class="card-content">
                <h6>TITULO DE PUBLICACION</h6>
                <p>Nombre de usuario</p>
                <p>Fecha de creacion</p>
                <p>
                    @Html.Partial("pv_ProgressBar", Model)
                </p>
            </div>
            <div class="card-action right-align">
                <a class="white-text" href="#">Detalle</a>
            </div>
        </div>
        <div class="card-image">
            <img src="https://placehold.it/100x164" />
        </div>
    </div>
</div>