<div class="row">
    <form class="col s6">
        <div class="row">
            <span class="titulo-inicio blue-text accent-3 center">
                <h5>PUBLICAIONES MAS VALORADAS</h5>
            </span>
            <hr />
        </div>
        <div class="row">

            
        </div>
    </form>
</div>