@using Models.Partial
@model PaginadorModel

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<div class="col s12 m12 l12">
    <div class="row titulo-usuario">
        <div class="titulo-inicio blue-text accent-3 center">
            <h5>NECESIDADES DE OTROS USUARIOS</h5>
        </div>
        <hr />
    </div>
    <div class="row">
        <div id="otras-necesidades" class="mostrar">
            @foreach (Models.ORM.Necesidades necesidad in Model.Lista)
            {
                @Html.Partial("pv_CardOtrasNecesidades", necesidad)
            }
        </div>
        @{Html.RenderPartial("pv_Paginacion", Model);}
    </div>

    <div id="modalDetalle" class="modal modal-fixed-footer"></div>
    <div id="modalDonar" class="modal modal-fixed-footer"></div>
</div>

