
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<div class="col s12 m12 l12">
    <div class="row titulo-usuario">
        <div class="titulo-inicio blue-text accent-3 center">
            <h5>MIS DONACIONES</h5>
        </div>
        <hr />
    </div>
    <div class="row contenedor-mis_donaciones">
        <table class="highlight">
            <thead>
                <tr>
                    <th>FECHA</th>
                    <th>NOMBRE</th>
                    <th>TIPO</th>
                    <th>ESTADO</th>
                    <th>RECAUDACION</th>
                    <th>MI DONACION</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>27/03/2020</td>
                    <td>Apoya al Hopital Britanico</td>
                    <td>Monetario</td>
                    <td>Activo</td>
                    <td>$10000 / $20000</td>
                    <td>$500</td>
                    <td>Detalle</td>
                </tr>
                <tr>
                    <td>22/04/2020</td>
                    <td>Comedor Carlos Mujica</td>
                    <td>Insumo</td>
                    <td>Cerrado</td>
                    <td>8 / 10</td>
                    <td>2</td>
                    <td>Detalle</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

