#datos-container{
    margin-top: 5vh;
}

.img-perfil {
    width: 284px;
    height: 230px;
    margin-top: 7%;
    margin-bottom: 13%;
}

.titulo-usuario{
    margin-top: 3.0%;
}

.contenedor-perfil{
    margin-top: 9.5%;
}

#btnModificar-perfil{
    padding-top: 10%;
}
