.progress {
    min-height: 24px;
    overflow: hidden;
    position: relative;
}

.progress span {
    position: relative;
    float: left;
    color: #fff;
    padding: 2px;
    z-index: 99999;
}

    .progress .determinate {
        width: 162px;
        transition: width 1s ease-in-out;
        position: relative;
        padding: 2px;
        text-align: right;
        color: white;
        white-space: nowrap;
        text-align: center;
    }