
@{
    ViewBag.Title = "Ayudando en la Pandemia";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@Html.Partial("pv_NavbarAnonimo");

<div class="container">
    @RenderBody()
</div>

@Html.Partial("../Shared/pv_Footer");

