
    <footer class="page-footer blue accent-1">
        <div class="container">
            <div class="row">
                <div class="col col-lg-6 col-sm-12">
                    <h5 class="white-text">Integrantes</h5>
                    <p class="grey-text text-lighten-4">Programación Web 3 20201C - Grupo 7 - Paoloni Ezequiel y Maidana Pablo.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright
            </div>
        </div>
    </footer>