<nav>
    <div class="nav-wrapper blue accent-1">
        <a href="#" class="brand-logo">Ayudando en la pandemia</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">INICIAR SESION</a></li>
            <li><a href="badges.html">REGISTRARSE</a></li>
        </ul>
    </div>
</nav>

