<nav>
    <div class="nav-wrapper blue accent-1">
        <a href="/Home/Inicio" class="brand-logo">AYUDANDO</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/Home/Ingresar" id="btnIngresar">INICIAR SESION</a></li>
            <li><a href="/Home/Registrarse" id="btnRegistrarse">REGISTRARSE</a></li>
        </ul>
    </div>
</nav>
