@using WebApp.Helpers
<div class="side-nav">
    <div class="row center-align blue lighten-5" id="sideNavSuperior">
        <div class="col"></div>
        <div class="col s10">
            <br />
            <div class="row center-align">
                <img src="~/Images/Perfil/user-icon.png" width="30%" />
            </div>
            <ul>
                @if (UsuarioLogeadoHelper.NombreUsuario != null)
                {
                    <li class="center-align"><p class="blue-text">@UsuarioLogeadoHelper.NombreUsuario</p></li>
                }
                else
                {
                    <li class="center-align"><p class="blue-text">NOMBRE_USUARIO</p></li>
                }

                @if (UsuarioLogeadoHelper.Email != null)
                {
                    <li class="center-align"> <p class="blue-text">@UsuarioLogeadoHelper.Email</p></li>
                }
                else
                {
                    <li class="center-align"> <p class="blue-text">E-MAIL</p></li>
                }
            </ul>
        </div>
        <div class="col"></div>
    </div>
    <div class="row center-align light-blue darken-3" id="sideNavInferior">
        <div class="col"></div>
        <div class="col s10">
            <div class="row center-align">
                <p class="white-text">USUARIO</p>
                <hr />
                <br />
                <a href="/Perfil/Inicio" class="btn blue accent-3" id="boton">PERFIL</a>
            </div>
            <div class="row center-align">
                <p class="white-text">NECESIDADES</p>
                <hr />
                <br />
                <a href="#" class="btn blue accent-3" id="boton">PROPIAS</a>
            </div>
            <div class="row center-align"><a href="#" class="btn blue accent-3 white-text" id="boton">OTROS USUARIOS</a></div>
            <div class="row center-align"><a href="#" class="btn blue accent-3 white-text" id="boton">CREAR</a></div>
        </div>
        <div class="col"></div>
    </div>
</div>