
@{
    ViewBag.Title = "pv_SideNavUsuario";
}

<div class="row center-align">
    <div class="col"></div>
    <div class="col s10">
            <div class="row center-align">
                <img class="circle responsive-img" src="~/Images/Perfil/Bulbasaur.png"/>
            </div>
            <div class="row center-align">
                <p>NOMBRE_USUARIO</p>
            </div>
            <div class="row center-align">
                <p>E-MAIL</p>
            </div>
            <div class="row center-align">
                <p>USUARIO</p>
                <hr />
                <a href="#" class="btn blue accent-3">PERFIL</a>
            </div>
            <div class="row center-align">
                <p>NECESIDADES</p>
                <hr />
                <a href="#" class="btn blue accent-3">PROPIAS</a>
            </div>
            <div class="row center-align"><a href="#" class="btn blue accent-3">OTROS USUARIOS</a></div>
            <div class="row center-align"><a href="#" class="btn blue accent-3">CREAR</a></div>
    </div>
    <div class="col"></div>
</div>


