@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

    <div class="col s12 m12 l12">
        <div class="row titulo-action">
            <div class="titulo-inicio blue-text accent-3 center">
                <h5>PERFIL</h5>
            </div>
            <hr />
        </div>
        <div class="col s12 m4 l4 offset-m8 offset-l8">
            <button class="btn waves-effect waves-light col s12 m12 l12 blue darken-3 btn-action" id="btnMisDonaciones">
                MIS DONACIONES
            </button>
        </div>
        <div class="row">
            <div id="LadoIzquierdo" class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Images/Perfil/user-icon.png" />
                    </div>
                    <div>
                        <button class="btn waves-effect waves-light col s12 m12 blue darken-3 btn-action" id="btnCambiarFoto">
                            CAMBIAR FOTO
                        </button>
                    </div>
                </div>
            </div>
            <div id="LadoDerecho" class="col s12 m8">
                <div class="input-field col s12 m12">
                    <input id="nombre" type="text" class="validate">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="input-field col s12 m12">
                    <input id="apellido" type="text" class="validate">
                    <label for="apellido">Apellido</label>
                </div>
                <div class="input-field col s12 m12 l12">
                    <input type="text" class="datepicker" id="fecha_nac">
                    <label for="fecha_nac">Fecha de nacimiento</label>
                </div>
                <button class="btn waves-effect waves-light col s12 blue darken-3 btn-action" id="btnIngresar">
                    MODIFICAR
                </button>
            </div>
        </div>
    </div>