
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<h2>Inicio</h2>
<!--
<link href="~/Content/src/sideNavUsuario.css" rel="stylesheet" />

<div class="row center-align grey lighten-2" id="sideNavSuperior">
    <div class="col"></div>
    <div class="col s10">
        <br />
        <div class="row center-align">
            <img src="~/Images/Perfil/Bulbasaur.png" width="40%" />
        </div>
        <div class="row center-align">
            <p class="blue-text">NOMBRE_USUARIO</p>
        </div>
        <div class="row center-align">
            <p class="blue-text">E-MAIL</p>
        </div>
    </div>
    <div class="col"></div>
</div>

<div class="row center-align blue" id="sideNavInferior">
    <div class="col"></div>
    <div class="col s10">
        <div class="row center-align">
            <p class="white-text">USUARIO</p>
            <hr />
            <br />
            <a href="#" class="btn blue accent-3" id="boton">PERFIL</a>
        </div>
        <div class="row center-align">
            <p class="white-text">NECESIDADES</p>
            <hr />
            <br />
            <a href="#" class="btn blue accent-3" id="boton">PROPIAS</a>
        </div>
        <div class="row center-align"><a href="#" class="btn blue accent-3 white-text" id="boton">OTROS USUARIOS</a></div>
        <div class="row center-align"><a href="#" class="btn blue accent-3 white-text" id="boton">CREAR</a></div>
    </div>
    <div class="col"></div>
</div>

    -->