<div class="col s12 m6 l6">
    <div class="card horizontal light-blue darken-3 white-text">
        <div class="card-image col s12 m3 l3">
            <img src="https://placehold.it/190x223" />
        </div>
        <div class="card-content col s12 m9 l9">
            <h6>TITULO DE PUBLICACION</h6>
            <div class="col s12 m8 l8">
                <p>Motivo de la denuncia</p>
                <p>Fecha de creacion</p>
            </div>
            <div class="col s12 m4 l4">
                <a class="btn blue waves-effect waves-light white-text" href="#">COMENTARIOS</a>
            </div>
            <div class="col s12 m12 l12 btn-action">
                <a class="btn grey waves-effect waves-light white-text" href="#">DETALLE</a>
                <a class="btn red waves-effect waves-light white-text" href="#">DESESTIMAR</a>
                <a class="btn teal waves-effect waves-light white-text" href="#">ACEPTAR</a>
            </div>
        </div>      
    </div>
</div>