@using Models.ORM
@model Denuncias

<!--<div id="modalComentarios" class="modal">-->
<div class="modal-content">
    <div class="col m12 l12">
        <h3>COMETARIOS</h3>
        <h4>@Model.Necesidades.Nombre</h4>
    </div>
    <div class="col S12 m12 l12">
        <ul class="collection with-header">
            @foreach (var item in @Model.Comentarios)
            {
                <li class="collection-item">@item.Descripcion</li>
            }
        </ul>
    </div>
</div>
<div class="modal-footer">
    <div class="col m12 l12">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>
<!--</div>-->
