html{
    font-size: 14px;
}

.brand-logo{
    margin-left: 1%;
}

.material-icons{
    color: black;
}

hr {
    color: #82b1ff;
    margin-left: 12px;
    margin-right: 12px;
}

h5{
    font-weight: 600;
}