html{
    font-size: 14px;
}

.brand-logo{
    margin-left: 1%;
}

.material-icons{
    color: black;
}

hr {
    color: #82b1ff;
    margin-left: 12px;
    margin-right: 12px;
}

h5{
    font-weight: 600;
}

.btn-primary {
    background-color: #0277bd;
}

footer {
    margin-top: 9%
}

.bold {
    font-weight: 700;
}

.ocultar{
    display: none;
}

.mostrar{
    display: block;
}

body {
    background-color: #eeeeee;
}

.content-error {
    margin-top: 10%;
}

#div-referencias {
    margin-bottom: 80px;
}

.acerca-de{
    padding: 5% 10% 5% 10%;
    margin: 0px;
}

.top {
    margin-top: 15%;
}

.contenedor-denuncia {
    margin-top: 5%;
}